@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mb-4">
    <h1 class="display-4">Erecting your for-sale &amp; lettings boards</h1>
</div>

<div class="row justify-content-md-center">
    <div class="col-md-10">
        <h2>View Properties for Estate Agents</h2>
        <form>
            <p>Please enter the account code of an estate agent that you wish to view all properties that have an estate agency board erected at.</p>

            <div class="form-group">
                <label for="AccountCode">Account Code</label>
                <input class="form-control" type="text" name="AccountCode" id="AccountCode" value="" placeholder="enter an account code..." />
            </div>

            <button type="submit" class="btn-primary">View Properties</button>
        </form>
    </div>
</div>
